{% extends 'base.html' %}
{% block content %}
    <!-- Main Start -->
    <main>
		<!-- Services -->
		<section class="container my-4">
			<h1 class="text-center mb-4 section-heading border-bottom pb-2">Contact Us</h1>
			<div class="row">
				<div class="col-md-6">
					<table class="table table-bordered">
						<tr>
							<th>Address</th>
							<td>Jamrud, KPK Pakistan</td>
						</tr>
						<tr>
							<th>Mobile</th>
							<td>+92 3359723496</td>
						</tr>
						<tr>
							<th>Telephone</th>
							<td>091 5820072</td>
						</tr>
						<tr>
							<th>Email</th>
							<td>sirajulislam.khilji@gmail.com</td>
						</tr>
					</table>
				</div>
				<div class="col-md-6">
					<iframe 
					src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13230.547011178593!2d71.37055!3d34.0018629!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1641465249754!5m2!1sen!2s"
					 width="600" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
				</div>
			</div>
		</section>
		<!-- End -->
    </main>
    <!-- End -->
{% endblock %}
